<html>
<head>
	<meta charset="utf-8">
	<title>I learned HTML in the '90s.</title>
</head>

<body>

{% if user.is_authenticated %}

<p>Congratulations! You are an authenticated user, {{ user.username }} !</p>

<p><a href="{% url 'logout' %}">log out</a></p>

{% else %}

<p>You are a stranger!</p>

<p><a href="{% url 'login' %}">log in</a></p>

{% endif %}

<p>SteelSensor Browse</p>

{% if documents %}
	<p>
	{% if prevPageLink %}
		<a href=/steelsensor/browse{{ prevPageLink }}><---</a>&nbsp;
	{% endif %}
	{% if pageNum %}
		{{ pageNum }}
	{% endif %}
	{% if nextPageLink %}
		&nbsp;<a href=/steelsensor/browse{{ nextPageLink }}>---></a>
	{% endif %}
	</p>
	<ul>
	{% for document in documents %}
		<li><a href="/media/{{ document }}"><img src="/media/{{ document }}" width="200px"></a><br>
		<a href=/steelsensor/browsematches?imgURL={{ document }}>Show similar images</a>&nbsp;
		<a href=/steelsensor/deleteImage?imgURL={{ document }}>Delete this image</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No files avalailable.</p>
{% endif %}

<p><a href="/steelsensor">Go Home</a></p>

</body></html>
