<html>
<head>
	<meta charset="utf-8">
	<title>I learned HTML in the '90s.</title>
</head>

<body>

{% if user.is_authenticated %}

<p>Congratulations! You are an authenticated user, {{ user.username }} !</p>

<p><a href="{% url 'logout' %}">log out</a></p>

{% else %}

<p>You are a stranger!</p>

<p><a href="{% url 'login' %}">log in</a></p>

{% endif %}

<p>SteelSensor BrowseMatches</p>

<p>Original photo:</p>

{% if original %}

<p><a href="/media/{{ original }}"><img src="/media/{{ original }}" width="200px"></a></p>

{% endif %}

<p>Matching Images:</p>

{% if matches %}
	<ul>
	{% for match in matches %}
		<li><a href="/media/{{ match }}"><img src="/media/{{ match }}" width="200px"></a></li>
                <a href=/steelsensor/browsematches?imgURL={{ match }}>Show similar images</a>&nbsp;
                <a href=/steelsensor/deleteImage?imgURL={{ match }}>Delete this image</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No files avalailable.</p>
{% endif %}

<p><a href="/steelsensor">Go Home</a></p>

</body></html>
