{% load static %}
<html>
<head>
        <meta charset="utf-8">
        <title>Steel Sensor</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<div>
        <h1>Steel Sensor</h1>
        <h4> : A image comparison tool.</h4>
</div>

{% if user.is_authenticated %}

<table class="topRight">
        <tr>
                <th><p class="greeting" >Hello {{ user.username }}!</p></th>
                <th><input type="button" onclick="location.href='{% url 'logout' %}';" value="Logout" /></th>
        </tr>
</table>


{% else %}

<table class="topRight">
        <tr>
                <th><input type="button" onclick="location.href='/accounts/register';" value="Sign-up" /></th>

                <th><input type="button" onclick="location.href='{% url 'login' %}';" value="Sign-in" /></th>
        </tr>
</table>

{% endif %}


{% if user.is_authenticated %}
	
	<br>

	<p>Create a Database:</p>

	<form action="{% url "dbmanage" %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
	
	        <p>{{ form.non_field_errors }}</p>
	
		<p>New Database Name: <input type="text" name="NewdbName"></p>
		<p><input type="submit" value="Create"/></p>
	</form>

	{% if databases %}
		
	<br>

	<p>Your Databases:</p>
		<table align="center">
		<tr>
		{% for db in databases %}
			<th>{{ db }} <a href=/steelsensor/browse?db={{ db }}>Browse This DB</a> <a href=/steelsensor/dbdelete?db={{ db }}>Delete This DB</a></li></th>
		{% endfor %}
		</tr>
		</table>
	{% endif %}

{% else %}

	<p>You are a stranger! You cannot create a new image database! :-P</p>

	<p><a href="{% url 'login' %}">log in</a></p>

{% endif %}

<p><input type="button" onclick="location.href='{% url 'browse' %}';" value="Browse" /></p>

<p><input type="button" onclick="location.href='{% url 'index' %}';" value="Home" /></p>

</body></html>
