<html>
<head>
	<meta charset="utf-8">
	<title>I learned HTML in the '90s.</title>
</head>

<body>

{% if user.is_authenticated %}

<p>Congratulations! You are an authenticated user, {{ user.username }} !</p>

<p><a href="{% url 'logout' %}">log out</a></p>

{% else %}

<p>You are a stranger!</p>

<p><a href=/accounts/register>Register Here (Not Implemented)</a><p>

<p><a href="{% url 'login' %}">log in</a></p>

{% endif %}

<p>SteelSensor Search Page</p>

<p>Upload an image to compare. It will be added to the database.</p>

<form action="{% url "results" %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<p>{{ form.non_field_errors }}</p>
	<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
	<p>
		{{ form.docfile.errors }}
		{{ form.docfile }}
	</p>

	{% if databases %}
		<p>
		<select name="dbSelect">
       		 	{% for database in databases %}
			<option value="{{ database }}">{{ database }}</option>
		        {% endfor %}
		</select>
		</p>
	{% else %}
        	<p>No database selections avalailable.</p>
	{% endif %}

	{% if user.is_authenticated %}
	<p><a href="/steelsensor/dbcreate">Create a database if you'd like.</a></p>

	<p>
	<select name="matchingThreshold">
		<option value="10">10%</option>
		<option value="20">20%</option>
		<option value="30">30%</option>
		<option value="40">40%</option>
		<option value="50">50%</option>
	</select>
	</p>
	{% endif %}

	<p><input type="submit" value="Upload"/></p>
</form>

<p><a href="/steelsensor/browse">Browse Images</a></p>

</body></html>
